<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/adaugareMasina}" th:object="${masina}" method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <table>
            <thead>
                 <tr>
		            <th> Id </th>
		            <th> NrInmatriculare </th>
		            <th> Kilometraj </th>
		            <th> Data RCA </th>
		            <th> Data ITP </th>
		           </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input th:field="*{id}" /></td>
                    <td><input th:field="*{nrInm}" /></td>
                    <td><input th:field="*{km}" /></td>
                    <td><input th:field="*{dataRCA}" /></td>
                    <td><input th:field="*{dataITP}" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>